.container {
  width: 740px;
}

.children {
  min-height: 500px;
  position: relative;
  top: 20px;
  margin-top: 48px;
}

/* Mobile */
@media (max-width: 700px) {
  .container {
    width: 100%;
  }

  .children {
    margin-top: 40px;
  }
}
