.container {
  width: 740px;
  height: 100vh;
}

.children {
  min-height: 500px;
  margin-top: 80px;
}

/* Mobile */
@media (max-width: 768px) {
  .container {
    width: 100%;
    height: unset;
  }

  .children {
    margin-top: 40px;
  }
}
