.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background: white;
  gap: 1rem;
}

/* Mobile */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
}
