.gridContainer {
  display: grid;
  justify-content: space-around;
  align-items: center;
  background: white;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

/* Mobile */
@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
